@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Bold';
  src: url("../fonts/robotobold.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Medium';
  src: url("../fonts/robotomedium.ttf");
  font-weight: normal;
  font-style: normal; }
