doctype html
html(lang = "de-DE")
  head
    include ../_components/head
  body
    block content
      //- content goes here
    script( src = "script.js")
    block scripts
      //- modules get called here
