meta(charset = "UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=1230")
title
	| Привет я заголовок
<!-- SEO -->
meta(name="descriprion" content="portfolio")
meta(name="keywords" content="portfolio_loftschool")
meta(name="author" content="Konstantin Kudelko")
<!-- favicon.info -->
link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
link(rel="icon" href="/favicon.ico" type="image/x-icon")
<!-- CSS -->
link(rel="stylesheet" href = "css/fonts.css")
link(rel="stylesheet", href="css/libs.min.css")
link(rel="stylesheet" href="css/main.css")